@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

/*Universals*/

p {
    font-family: 'Bitter', serif;
    font-size: 1em;
    padding-top: 10px;
}
h1 h2 h3 h4 h5 {
      font-family: 'Roboto Slab', serif;
}
.bitter {
  font-family: 'Bitter', sans-serif;
  font-size: 2em;
}
form {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
}
.icon {
	background-color: transparent;
  color: #000;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.space {
  padding-top: 10px;
}

/********Carousel**************/
#home {
  height: 100%
}
.item {
  height: 50px;
  background-size: cover;
  background-position: center;
}
.logo {
  height: 0px;
  width: 0px;
  align-items: none;
}

.carousel-caption {
  margin-bottom: 25px;
}
.carousel-flex {
    height: 100%;
    display: flex;
    align-items: center;
}
.item {
  background-size: 100%;
  background-position: center;
}
#background {
  height: 200px;
  width: 100%
  background-image: url('../img/ipgsycot_elearning-board-games.png');
}
#background2 {
  background-image: url('../img/background2.png');
  height: 200px;
  width: 100%
}
#background3 {
  background-image: url('../img/background3.png');
  height: 200px;
  width: 100%
}

 /********Nav Bar*********/

nav {
  padding-top: 10px;
  background-color: #ffad99;
  height: 100%;
}

nav a {
  color: #003333;
}
.fa-github:before {
  content: "";
}
.fa-camera-retro:before {
  content: "";
}
.fa-twitter:before {
  content: "";
}
.fa-envelope-open-o:before {
    content: "";
}
/********Info***********/

#info {
  height: 100%;
}

/*********about sec***********/

#about {
  background-color: #ccff99;
  height: 100%;
  background-size: cover;
  font-size: 1em;
  padding: 40px
}
#about h3 {
  text-shadow: 1px 2px 2px #fff;
}
#about h1 {
  text-shadow: 1px 2px 2px #fff;
}
/**********Store*********/

#price {
  height: 100%;
  background-color: #ffff4d;
  background-size: cover;
}
#price h1 {
  text-shadow: 1px 2px 2px #e6ffff;
}

/********Footer**********/

#contact {
  padding: 20px;
  background-color: #ccff99;
}
#contact form {
  height: 90%;
  width: 100%;
  background-color: #ffff4d;
  margin: 10px;
  border-style: groove;
  border-width: 3px;
  border-color: #fff;
}
footer h1 {
  text-shadow: 1px 2px 2px #fff;
}
#contact iframe {
  padding-top: 10px;
  height: 350px;
  width: 350px;
  float: center;
}
.iconbar {
  height: 0;
  padding: 0px;
  background-color: #00cc00;
}
