@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@media (min-width: 500px) and (orientation: portrait);
/*Universals*/
p {
    font-family: 'Bitter', serif;
    font-size: 1em;
}
h1 h2 h3 h4 h5 {
      font-family: 'Roboto Slab', serif;
}
.bitter {
  font-family: 'Bitter', sans-serif;
  font-size: 2em;
}
.float-center {
	float: center;
}
form {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
}
.icon {
	background-color: transparent;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.space {
  padding-top: 10px;
}

/********Carousel**************/
.item {
  height: 525px;
  background-size: cover;
  background-position: center;
}
#logo {
  height: 200px;
}
.carousel-caption {
  margin-bottom: 45px;
}
.item {
  height: 525px;
  background-size: cover;
  background-position: center;
}
#background {
  background-image: url('../img/ipgsycot_elearning-board-games.png');
}
#background2 {
  background-image: url('../img/ipgsycot_elearning-board-games.png');
}
#background3 {
  background-image: url('../img/ipgsycot_elearning-board-games.png');
}

 /********Nav Bar*********/

nav {
  background-color: #ffff00;
  height: 10%;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background-color: rgba(0,0,255,0.3);
}
.navbar-inverse .navbar-nav>active>a:focus .navbar-nav>li>a:focus .navbar-inverse .navbar-nav>li>a:hover {
  background-color: rgba(0,0,255,0.5);
}

/********Info***********/

#info {
  height: 100%;
}

/*********Jumbotron***********/

#store {
  background-color: rgb(0, 204, 255);
  height: 100%;
  background-size: cover;
  font-size: 1em;
  padding: 40px
}

/**********Store*********/

#store {
  height: 500px;
  background-color: #00ffff;
  background-size: cover;
}

/********Footer**********/

#contact {
  padding: 40px;
  background-color: #009900;
}
#contact form {
  height: 360px;
  background-color: #4dff4d;
  margin: 10px;
  border-style: groove;
  border-width: 3px;
  border-color: #4dff4d;
}
footer h1 {
  text-shadow: 1px 2px 2px #fff;
}
#contact iframe {
  padding-top: 50px;
}
.iconbar {
  padding: 40px;
  background-color: #ffff00;
}
