@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
/*Universals*/
p {
    font-family: 'Bitter', serif;
    font-size: 1em;
    padding-top: 10px;
}
h1 h2 h3 h4 h5 {
      font-family: 'Roboto Slab', serif;
}
.bitter {
  font-family: 'Bitter', sans-serif;
  font-size: 2em;
}
form {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
}
.icon {
	background-color: transparent;
  color: #000;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.space {
  padding-top: 30px;
}

/********Carousel**************/
#home {
  height: 100%
}
.item {
  height: 525px;
  background-size: cover;
  background-position: center;
}
#logo {
  height: 200px;
}

.carousel-caption {
  margin-bottom: 45px;
}
.item {
  height: 525px;
  background-size: cover;
  background-position: center;
}
#background {
  background-image: url('../img/ipgsycot_elearning-board-games.png');
}
#background2 {
  background-image: url('../img/background2.png');
}
#background3 {
  background-image: url('../img/background3.png');
}

 /********Nav Bar*********/

nav {
  padding-top: 10px;
  background-color: #33cccc;
  height: 100%;
}

nav a {
  color: #003333;
}
/********Info***********/

#info {
  height: 100%;
}

/*********about sec***********/

#about {
  background-color: #ff00ff;
  height: 100%;
  background-size: cover;
  font-size: 1em;
  padding: 40px
}
#about h3 {
  text-shadow: 1px 2px 2px #fff;
}
#about h1 {
  text-shadow: 1px 2px 2px #fff;
}
/**********Store*********/

#price {
  height: 100%;
  background-color: #00e6b8;
  background-size: cover;
}
#price h1 {
  text-shadow: 1px 2px 2px #e6ffff;
}

/********Footer**********/

#contact {
  padding: 40px;
  background-color: #ff00ff;
}
#contact form {
  height: 90%;
  background-color: #00e6b8;
  margin: 10px;
  border-style: groove;
  border-width: 3px;
  border-color: #fff;
}
footer h1 {
  text-shadow: 1px 2px 2px #fff;
}
#contact iframe {
  padding-top: 50px;
}
.iconbar {
  padding: 40px;
  background-color: #33cccc;
}
